@model Models.EF.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section trangchu{
    Cập nhật mới sản phẩm
}
@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })

        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/assets/admin/js/plugins/ckeditor/config.js',
        });
    </script>
}
@using (Html.BeginForm("Edit","Product",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thông tin sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group  col-md-8" style="color:cornflowerblue">

            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        </div>
        <div class="form-group  col-md-8" style="color:cornflowerblue">
            @Html.LabelFor(model => model.MetaTitle)

            @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })

        </div>

        <div class="form-group  col-md-8" style="color:cornflowerblue">
            @Html.LabelFor(model => model.CategoryID)

            @Html.DropDownListFor(model => model.CategoryID, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })

        </div>

        <div class="form-group  col-md-8" style="color:cornflowerblue">
            @Html.LabelFor(model => model.Image)

            @Html.TextBoxFor(model => model.Image, new { @class = "form-control", @id = "txtImage" })
            <a id="btnSelectImage" href="#">Chọn ảnh</a>
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })

        </div>

        <div class="form-group  col-md-8" style="color:cornflowerblue">
            @Html.LabelFor(model => model.Price)

            @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

        </div>

        <div class="form-group  col-md-8" style="color:cornflowerblue">
            @Html.LabelFor(model => model.PromotionPrice)

            @Html.TextBoxFor(model => model.PromotionPrice, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PromotionPrice, "", new { @class = "text-danger" })

        </div>

        <div class="form-group  col-md-8" style="color:cornflowerblue">
            @Html.LabelFor(model => model.Description)

            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

        </div>

        <div class="form-group  col-md-8" style="color:cornflowerblue">
            @Html.LabelFor(model => model.Status)

            <div class="checkbox">
                @Html.CheckBoxFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-6 col-md-12 ">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
